html {
    scroll-behavior: smooth;
}

body {

    background: linear-gradient(135deg, #0e3331, #034a5c, #00afaf);
    color: white;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: linear-gradient(135deg, #38a2aa, #015858, #009292);
    border-radius: 20px;
    box-shadow: #9aecbc;
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.nav-link {
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
    font-weight: 500px;
}

.nav-link:hover {
    color: #bff3f5;
    transform: scale(1.05);
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    padding: 80px 0;
}

.about-banner {
    border-radius: 20px;
    width: 100%;
    height: 55vh;
    background: url(https://images.pexels.com/photos/5112588/pexels-photo-5112588.jpeg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 183, 255, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.overlay h1 {
    font-size: 55px;
}

.overlay p {
    font-size: 20px;
    margin-top: 10px;
}
.story {
    background-color: #016d6d;
    border-radius: 20px;
}

.story-text {
    flex: 1;
}

.story-img {
    flex: 1;
}

.story-img img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    animation: floatpestries 2s ease-in-out infinite;
    transition: .5s ease;
}

.story-img img:hover {
    cursor: pointer;
    transform: scale(1.08) rotate(4deg);
    filter: drop-shadow(0 20px 35px rgba(0, 0, 0, 0.973));
}

@keyframes floatpestries {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}
.story-text h4 {
    text-align: center;
    font-size: 30px;
    color: #01e1ff;
}

.story-text h2 {
    font-size: 42px;
    margin: 15px 0;
}

.story-text p {
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 20px;
}

.story-text a {
    background: #06afd9;
    color: #fff;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
}

.mission {
    background-color: #016d6d;
    border-radius: 20px;
}

.box {
    flex: 1;
    padding: 40px;
    text-align: center;
    background: #c5f8ff;
    color: #000000;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.box i {
    font-size: 45px;
    color: #06cbd9;
    margin-bottom: 20px;
}

.trust {
    background-color: #016d6d;
    border-radius: 20px;
}

.trust h2,
.team h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.card {
    flex: 1;
    min-width: 225px;
    background: #bdfafa;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.card:hover {
    background-color: #41acbe;
    cursor: pointer;
    transform: translateY(-8px);
}
.card i {
    font-size: 40px;
    color: #026572;
    margin-bottom: 20px;
}

.team{
     background-color: #016d6d;
    border-radius: 20px;
}
.member {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.member img {
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
}

.member h3 {
    margin-top: 15px;
}

.counter {
    background-color: #016d6d;
    border-radius: 20px;
}

.counter .container {
    justify-content: space-around;
    text-align: center;
}

.counter h2 {
    font-size: 45px;
}

/* CTA */

.cta {
    text-align: center;
     background-color: #016d6d;
    border-radius: 20px;
}

.cta h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.cta p {
    margin-bottom: 30px;
    color: #ebebeb;
}

.cta a {
    background: #046161;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}
.cta a:hover {
    background: #004242;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}


.footer {
    background: #014b58;
    padding: 60px 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h2 {
    color: #a2defa;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

.footer-col p {
    color: #ffffff;
    line-height: 1.8;
    font-size: 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #abadff;
    padding-left: 5px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #00ffaa;
    transform: translateX(5px);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
}

.footer-bottom p {
    color: #aaa;
    font-size: 14px;
}

@media(max-width:992px) {

    .overlay h1 {
        font-size: 42px;
    }

    .story-text h2 {
        font-size: 34px;
    }

}

@media(max-width:768px) {
 .footer {
        padding: 50px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }

    .footer-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .footer-col ul li {
        margin: 10px 0;
    }

    .footer-col a {
        text-decoration: none;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 30px;
    }
    .container {
        flex-direction: column;
    }

    .overlay h1 {
        font-size: 34px;
    }

    .story-text {
        text-align: center;
    }

    .trust h2,
    .team h2,
    .cta h2 {
        font-size: 30px;
    }

    .counter .container {
        gap: 30px;
    }

}

@media(max-width:480px) {

    .overlay h1 {
        font-size: 28px;
    }

    .overlay p {
        font-size: 16px;
    }

    .story-text h2 {
        font-size: 28px;
    }

    .cta h2 {
        font-size: 26px;
    }

}