body {

    background: linear-gradient(135deg, #0e3331, #034a5c, #00afaf);
    color: white;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: linear-gradient(135deg, #38a2aa, #015858, #009292);
    border-radius: 20px;
    box-shadow: #9aecbc;
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.nav-link {
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
    font-weight: 500px;
}

.nav-link:hover {
    color: #f5bfbf;
    transform: scale(1.05);
    font-size: 20px;
}
.sweets{
    height: 500px;
}




.footer{
    background: #014b58;
    padding: 60px 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-col h2{
    color: #8591fd;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

.footer-col p{
    color: #ffffff;
    line-height: 1.8;
    font-size: 15px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin-bottom: 12px;
}

.footer-col ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.footer-col ul li a:hover{
    color: #abadff;
    padding-left: 5px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-icons a{
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    transition: 0.3s;
}

.social-icons a:hover{
    color: #00ffaa;
    transform: translateX(5px);
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
}

.footer-bottom p{
    color: #aaa;
    font-size: 14px;
}